@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes colorChangeBlob1 {
  0% {
    fill: #ff0066;
  }
  50% {
    fill: #25ccf7;
  }
  100% {
    fill: #ff0066;
  }
}

@keyframes colorChangeBlob2 {
  0% {
    fill: #25ccf7;
  }
  50% {
    fill: #ff0066;
  }
  100% {
    fill: #25ccf7;
  }
}

.blob1-animation {
  animation: colorChangeBlob1 10s infinite;
}

.blob2-animation {
  animation: colorChangeBlob2 10s infinite;
}
